# Predicting the value of states in the Frozen Lake Environment

In [1]:
import gym
import pandas as pd

In [2]:
env = gym.make('FrozenLake-v1')

In [3]:
def random_policy():
    return env.action_space.sample()

In [8]:
V = {}
for s in range(env.observation_space.n):
    V[s] = 0.0
    alpha = 0.85
    gamma = 0.90
    num_episodes = 50000
    num_timesteps = 1000
    for i in range(num_episodes):
        s = env.reset()
        for t in range(num_timesteps):
            a = random_policy()
            s_, r, done, _ = env.step(a)
            V[s_] = s_
            V[s] += alpha * (r + gamma * V[s_] -V[s])
            s = s_
            if done:
                break

In [13]:
env.reset()
x = env.step(1)

In [21]:
s_, r, done, _, t = x

In [22]:
t

{'prob': 0.3333333333333333}

In [9]:
df = pd.DataFrame(list(V.items()), columns=['state', 'value'])

In [10]:
df

    state     value
0       0   0.76500
1       4   0.60000
2       5   5.00000
3       8   4.26000
4      12  12.00000
5       9   9.00000
6       1   1.68000
7       2   2.59500
8       6   4.72500
9       3   5.80500
10      7   7.00000
11     10   9.91500
12     13  10.96425
13     14  12.04500
14     11  11.00000
15     15  15.00000